@import "../utils/variables";
@import "../utils/mixins";

.home-categories {

     position: relative;

     @include min(1200) {
          &:before {
               content: "";
               position: absolute;
               bottom: 0%;
               left: 0;
               width: 100%;
               height: 53%;
               background-color: #F8F7F1;
               z-index: -1;
          }
     }

     @include min(568) {
          padding: size(48) 0;
     }

     @include min(992) {
          padding: size(80) 0 size(80) 0;
     }

     padding: size(50) 0 size(0) 0;

     &__line {
          @include min(992) {
               margin-top: size(30);
          }
         .line-img{
          max-width: 70%;
          margin-top: size(18);
         }
     }

    

     &__title {
          @include min(568) {
               font-size: size(24);
               margin-bottom: size(24);
          }

          @include min(992) {
               font-size: size(60);
               margin-bottom: size(28);
          }

          font-size: size(18);
          margin-bottom: size(16);
     }

     &__description {

          @include min(992) {
               max-width: 80%;
               font-size: size(16);
               line-height: 1.8;
          }

          font-size: size(16);
          margin: 0 auto;
     }

     .row {
          --mf-gutter-y: 24px;
     }


     &__item {

          @include min(992) {
               margin-top: size(-70);
          }

          margin-top: size(24);

          figure {
               @include aspectRatio(961, 613);
          }
     }

     &__titleSub {
          @include min(992) {
               max-width: 90%;
               margin: 0 auto;
          }
          h3{
               @include lineHeight(45, 64);

               @include max(991.98){
                    font-size: size(28);
               }
          }
     }

     &__text {
          @include min(992) {
               max-width: 70%;
               margin-top: auto;
          }
     }

     &__imgText {
          position: relative;
        

         
          @include min(992) {
               max-width: 238px;
               margin-left: auto
          }
          @include max(991.98){
               max-width: 70%;
               margin: 0 auto;
          }
          figure{
               @include aspectRatio(293, 293);
          }
          
          .home-categories__imgTextContent {
               font-size: size(20);
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               z-index: 2;
               text-align: center;
               color: #000;
               font-weight: bold;
          }
     }

}